#bodyAccueilConnexion {
    background-image: url(ImagesLogiciel/BackgroundPageDeConnexion.jpg)
}

#hrAccueil {
    height: 10px;
}

#h2ConnexionAccueil, #LabelCodeAccueil, #h2TitreAccueil {
    color: white;
}

#ButtonConnexionAccueil {
    color: white;
    width: 150px;
    height: 50px;
}

#divTitreNotifications {
    background-color: dimgray;
    opacity:.9;
    border: groove;
    display: inline-block;
    border-radius:15px;
}

#panelNotifications {
    background-color: white;
    border: groove;
}

#bodyAccueil {
    background-image: url(ImagesLogiciel/BackgroundPageAccueil.jpg)
}

.col1 {
    color: white;
    width: 200px;
    height: 195px;
    border: double;
    display: inline-block;
    padding-top: 50px;
    background-color: blue;
    opacity: .5;
    border-radius:10px;
}
.col2 {
    margin-top: 20px;
}
.textes {
    padding-left:20px;
    padding-right:20px;
    color:red;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.divh2 {
    padding-left:20px;
    color:red;
}
#titreNotifications {
    color:white;
    float:left;
}
#imprimerNotifications
{
    float:right;
    padding-right:50px;
    color:white;
}
#h1TitreMachines {
    font-family: 'Times New Roman';
    color: red;
}
#bodyListeMachines {
    background-image: url(ImagesLogiciel/BackgroundListeMachine.jpg);
    background-repeat: no-repeat;
}
#bodyListeProduits {
    background-color:black;
}
#labelTitreMachine {
    margin-top: 50px;
    color: blue;
    font-family: 'Times New Roman';
    font-size:40px;
}
#labelEntretiensMachine, #labelEntretiensRecents, #labelProduitsMachine, #labelRemarquesMachine, #labelProceduresMachine {
    color: red;
    font-size: 35px;
    text-decoration: none;
}
#rowOptions{
    padding-top: 50px;
}
#bodyDossierMachine {
    background-image: url(ImagesLogiciel/BackgroundDossierMachine.jpg)
}
#labelTitreEntretiensMachine {
    margin-top: 50px;
    color: white;
    font-family: 'Times New Roman';
    font-size: 40px;
}
#bodyEntretiensMachine {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(ImagesLogiciel/BackgroundEntretienMachine.png);
}
#labeltextBoxDescriptionEntretien, #labelTextBoxReccurence, #labelDateProchainEntretien, #labelTitreNomEntretien {
    color: white;
    font-size: 30px;
    font-weight:bold;
}
#bodyEntretienSelectionne {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(ImagesLogiciel/BackgroundEntretienMachineSelectionne.png);
}
#labelTitreListeProduitsEntretien {
    color: white;
    font-size: 35px;
}
#bodyProduitSelectionne {
    background-image: url(ImagesLogiciel/BackgroundProduitSelectionne.jpg)
}
#labelTitreNomProduit, #labeltextBoxDescriptionProduit, #labelTypeProduit, #h1TitreProduits, #labelPhotosProduit {
    color: darkgoldenrod;
    font-size: 30px;
}
#textBoxReccurence {
    font-size: 25px;
}
#labelTitreAjouterEntretien, #labelTypeEntretien, #labelDateEntretien, #labeltextBoxDescriptionAjouterEntretien, #labelResponsableEntretien, #labelRecurrenceEntretien, #labelDateProchainEntretien {
    font-size: 30px;
    color: white;
}
#buttonAjouterEntretien, #buttonAjouterRemarqueEntretien, #buttonAssocierProcedureTelecharger {
    font-size: 25px;
}
#bodyEntretienPrecedantAjout {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(ImagesLogiciel/BackgroundAjouterEntretienPrecedant.png);
}
#h2TitreEntretienSelectionne {
    color:white;
    font-weight:bold;
}
#h1TitreProcedures {
    padding-top:0px;
    text-align:center;
    color:red;
}
#bodyProcedures {
    background: linear-gradient(rgba(0,0,255,.4), rgba(0,0,0,.4)), url(ImagesLogiciel/BackgroundProcedures.png);
}
#bodyProcedureMachine {
    background: linear-gradient(rgba(0,0,255,.4), rgba(0,0,0,.4)), url(ImagesLogiciel/BackgroundProceduresDossierMachine.jpg);
}
#bodyListeRemarqueMachine {
    background-image: url(ImagesLogiciel/BackgroundListeRemarquesMachine.png);
    background-attachment:fixed;
}
#buttonAssocierProcedureTelecharger {
    margin-top: 20px;
}
#labelRechercherParTypeEntretien {
    font-size:20px;
}
#bodyAjouterRemarqueEntretien {
    background-image: url(ImagesLogiciel/BackgroundAjouterRemarqueEntretien.jpg);
    color:white;
    font-weight:bold;
}
#h1AjouterRemarque {
    text-align: center;
}
.rowRemarque, #buttonAjouterPhotos {
    font-size: 20px;
}
#buttonAjouterRemarque {
    margin-top:200px;
    font-size:25px;
}
#imgProduitSelectionne {
    margin-top: 300px;
}
#labelTitreListeRemarque {
    font-size:35px;
}
#labelDateFait, #labeltextBoxDescriptionEntretienMachine, #labelNomEmploye, #labelEmploye, #labelTitreRemarque {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#labelTitrePhotos {
    text-align:center;
}
#labelTitreDescriptionRemarque, #labeltextBoxDescriptionRemarque, #labelTitrePhotos {
    font-size:25px;
}
#divDropDownListImprimerEntretien {
    padding-top: 100px;
    font-size: 27px;
}
#bodyImprimerEntretiensProchainsJours {
    background-image: url(ImagesLogiciel/BackgroundImprimerEntretiensProchainsJours.jpg)
}
#buttonGenererLaliste {
    margin-top: 100px;
    font-size: 27px;
}
#h1TitreImprimerEntretiens {
    padding-top: 150px;
    font-size: 27px;
}
#bodyPageAdministrateur {
    background-image: url(ImagesLogiciel/BackgroundPageAdministrateur.jpg);
    color:white;
}
#labelNomUtilisateurConnecte {
    font-family:'Times New Roman'
}
#formulaire {
    padding-top:240px;
}
#bodyAjouterUtilisateur {
    background-image:url(ImagesLogiciel/BackgroundAjouterUtilisateur.jpg)
}
#titreAjouterUtilisateur {
    margin-top:50px;
    color:white;
}
#labelCheckboxAdministrateur {
    color:red;
}
#labelNom, #labelPrenom, #labelMotDePasse {
    color:dimgrey;
}
#buttonAjouterElement {
    font-size: 20px;
    margin-left: 150px;
}
#gridViewListeProduits  {
    color:darkgoldenrod
}
#gridViewMachines {
    margin-right:50px;
    border-radius:5px;
}
#textBoxRechercherMachine {
    margin-left:100px;
}
#dropDownListTypesElement {
    margin-left:50px;
}
#textBoxRechercherProduit {
    margin-left:50px;
}
#gridViewProduits {
    background-color: white;
    margin-top: 50px;
    padding-right: 100px;
}
#divInfosTypesMachine {
    font-size:25px;
    color:white;
}
#divLeftDossierMachine {
    height:500px;
}
#labelTypeElement, #labelTypeEmplacement {
    color: blue;
    font-size: 30px;
    margin-left:30px;
}
#divDossierMachine {
   margin-top : 75px;
}
#GridViewListeProduitsEntretien {
    background-color: white;
    margin-top:100px;
}
#GridViewProduitsEntretien {
    background-color: white;
}
#gridViewEntretiensMachine {
    background-color:white;
    margin-top:50px;
}
#textBoxRechercherRemarque {
    margin-top:20px;
}
#gridViewRemarques {
    background-color: white;
    margin-top: 50px;
}
#gridViewListeUtilisateurs {
    background-color:darkblue;
}
#panelDateProchainEntretien {
    background-color:dimgray;
}
#buttonOk, #buttonCancel{
    margin:20px;
    font-size:20px;
}
#calendarDate {
    margin-bottom:20px;
}
#test {
    position:absolute;
    z-index:1;
}
#divChangerDateEntretien {
   margin-top:20px;
}
#bodyAjouterElement {
    background-image:url(ImagesLogiciel/BackgroundAjouterElement2.jpg);
}
#titreAjouterElement, #statusLabel, #titreAjouterElement {
    color: white;
}
#labelNomMachine, #labelNumero, #labelDescription, #labelTypeElement, #labelTypeEmplacement, #fileUpload, #labelProchaineDate, #labelRecurrence, #labelDescriptionEntretien, #labelNomEntretien {
    color: white;
    font-size: 30px;
}
#typeMachine, #nomMachine {
    margin-top: 50px;
}
#buttonEnregistrer {
    font-size:25px;
    margin-top:25px;
}
#h2AjouterPhotoMachine {
    color:white;
    margin-top:25px;
}
#buttonAjouterUtilisateur {
    font-size:25px;
}
#labelDateProchainEntretien {
    color: black;
    font-size: 20px;
}
#backgroundAjouterEntretien{
    background-image:url(ImagesLogiciel/BackgroundAjouterEntretien.jpg)
}
#nomEntretien {
    margin-top:180px;
}
#backgroundAjouterProcedure {
    background-image:url(ImagesLogiciel/BackgroundAjouterProcedure.png);
}
#fileUploadProcedure{
    margin-top:20px;
    font-size:20px;
    color:red;
}
#labelNomProcedure {
    margin-top:100px;
    color: red;
    font-size: 20px;
}
#labelDescription{
    color: red;
    font-size: 20px;
}
#titreAjouterProcedure {
    color: red;
    font-size: 35px;
}