#bodyAccueilConnexion {
    background-image: url('http://www.soudurenpv.com/ressources/images/dca912cefb5c.jpg')
}

#hrAccueil {
    height: 10px;
}

#h2ConnexionAccueil, #LabelCodeAccueil, #h2TitreAccueil {
    color: white;
}

#ButtonConnexionAccueil {
    color: white;
    width: 150px;
    height: 50px;
}

#divTitreNotifications {
    background-color: dimgray;
    opacity:.9;
    border: groove;
    display: inline-block;
    border-radius:15px;
}

#panelNotifications {
    background-color: white;
    border: groove;
}

#bodyAccueil {
    background-image: url(http://www.ventilationlacroix.com/DATA/TEXTEDOC/IMG_1768-1.jpg)
}

.col1 {
    color: white;
    width: 200px;
    height: 195px;
    border: double;
    display: inline-block;
    padding-top: 50px;
    background-color: blue;
    opacity: .5;
    border-radius:10px;
}
.col2 {
    margin-top: 20px;
}
.textes {
    padding-left:20px;
    padding-right:20px;
    color:red;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.divh2 {
    padding-left:20px;
    color:red;
}
#titreNotifications {
    color:white;
    float:left;
}
#imprimerNotifications
{
    float:right;
    padding-right:50px;
    color:white;
}
#h1TitreMachines {
    font-family: 'Times New Roman';
    color: red;
}
#bodyListeMachines {
    background-image: url(https://images4.alphacoders.com/113/113768.jpg);
    background-repeat: no-repeat;
}
#bodyListeProduits {
    background-color:black;
}
#labelTitreMachine {
    margin-top: 50px;
    color: blue;
    font-family: 'Times New Roman';
    font-size:40px;
}
#labelEntretiensMachine, #labelEntretiensRecents, #labelProduitsMachine, #labelRemarquesMachine, #labelProceduresMachine {
    color: white;
    font-size: 30px;
    text-decoration: none;
}
#rowOptions{
    padding-top: 50px;
}
#bodyDossierMachine {
    background-image: url(http://www.fonderie-sag.com/skin/site/video/FonderieSaguenaySiteWeb.jpg?_m=48063753073a289bd7a067ea4b19688f)
}
#labelTitreEntretiensMachine {
    margin-top: 50px;
    color: white;
    font-family: 'Times New Roman';
    font-size: 40px;
}
#bodyEntretiensMachine {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url('http://www.freeiconspng.com/uploads/options-icon-11.png');
}
#labeltextBoxDescriptionEntretien, #labelTextBoxReccurence, #labelDateProchainEntretien, #labelTitreNomEntretien {
    color: white;
    font-size: 30px;
    font-weight:bold;
}
#bodyEntretienSelectionne {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('https://www.daosdental.com/wp-content/uploads/2014/01/usinage-dentaire-datron-d5.png');
}
#labelTitreListeProduitsEntretien {
    color: white;
    font-size: 35px;
}
#bodyProduitSelectionne {
    background-image: url(https://nitifilter.com/wp-content/uploads/2016/01/huile.jpg)
}
#labelTitreNomProduit, #labeltextBoxDescriptionProduit, #labelTypeProduit, #h1TitreProduits {
    color: darkgoldenrod;
    font-size: 30px;
}
#textBoxReccurence {
    font-size: 25px;
}
#labelTitreAjouterEntretien, #labelTypeEntretien, #labelDateEntretien, #labeltextBoxDescriptionAjouterEntretien, #labelResponsableEntretien, #labelRecurrenceEntretien, #labelDateProchainEntretien {
    font-size: 30px;
    color: white;
}
#buttonAjouterEntretien, #buttonAjouterRemarqueEntretien, #buttonAssocierProcedureTelecharger {
    font-size: 25px;
}
#bodyEntretienPrecedantAjout {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url('http://jacob.patrick.free.fr/cours/ci11/convertisseurs/co/redresseurs_web/res/rectivar_schema.png');
}
#h2TitreEntretienSelectionne {
    color:white;
    font-weight:bold;
}
#h1TitreProcedures {
    text-align:center;
    color:darkblue;
}
#bodyProcedures {
    background-image: url(https://maxcdn.icons8.com/Share/icon/ultraviolet/Messaging//note1600.png);
}
#bodyProcedureMachine {
    background: linear-gradient(rgba(0,0,255,.4), rgba(0,0,0,.4)), url('http://pedagogie.ac-toulouse.fr/ien12-saint-affrique/spip/IMG/arton105.jpg');
}
#bodyListeRemarqueMachine {
    background-image: url(http://www.renou-mecanique.com/images/slider/slideRenou1.png)
}
#buttonAssocierProcedureTelecharger {
    margin-top: 20px;
}
#labelRechercherParTypeEntretien {
    font-size:20px;
}
#bodyAjouterRemarqueEntretien {
    background-image: url(http://razorheating.com/wp-content/uploads/2015/05/91SGiv-6cQL._SL1500_.jpg);
    color:white;
}
#h1AjouterRemarque {
    text-align: center;
}
.rowRemarque, #buttonAjouterPhotos {
    font-size: 20px;
}
#buttonAjouterRemarque {
    margin-top:200px;
    font-size:25px;
}
#imgProduitSelectionne {
    margin-top: 300px;
}
#labelTitreListeRemarque {
    font-size:35px;
}
#labelDateFait, #labeltextBoxDescriptionEntretienMachine, #labelNomEmploye {
    font-size: 30px;
    color: white;
    font-weight:bold;
}
#labelTitrePhotos {
    text-align:center;
}
#labelTitreDescriptionRemarque, #labeltextBoxDescriptionRemarque, #labelTitrePhotos {
    font-size:25px;

}