#bodyAccueilConnexion {
    background-image: url(ImagesLogiciel/BackgroundPageDeConnexionLegal.jpg);
    background-attachment:fixed;
}

#hrAccueil {
    height: 10px;
}

#h2ConnexionAccueil, #LabelCodeAccueil, #h2TitreAccueil {
    color: white;
}

#ButtonConnexionAccueil {
    color: white;
    width: 150px;
    height: 50px;
}
#imprimerNotifications {
    margin-top:15px;
    font-size:30px;
}
#divTitreNotifications {
    background-color: dimgray;
    margin-top:20px;
    opacity: .9;
    border: groove;
    display: inline-block;
    border-radius: 15px;
}
#titreNotifications {
    font-size: 32px;
    margin-bottom:15px;
}

#panelNotifications {
    background-color: white;
    border: groove;
}

#fileUploadAjouterPhotoMachine, #labelAjouterPhotoMachine {
    margin-top:40px;
    font-size: 15px;
    color:white;
}

.invisible {
    display: none;
}

#ButtonAjouterImage {
    margin-top: 40px;
    font-size: 16px;
    color: black;
}
#bodyAccueil {
    background-image: url(ImagesLogiciel/BackgroundPageAccueil.jpg);
    background-attachment: fixed;
}

.col1 {
    color: white;
    width: 200px;
    height: 195px;
    border: double;
    display: inline-block;
    background-color: blue;
    opacity: .5;
    border-radius:10px;
}
.col2 {
    margin-top: 20px;
}
.textes {
    padding-left:20px;
    padding-right:20px;
    color:red;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
.divh2 {
    padding-left:20px;
    color:red;
}
#titreNotifications {
    color:white;
    float:left;
}
#imprimerNotifications
{
    float:right;
    padding-right:50px;
    color:white;
}
#h1TitreMachines {
    font-family: 'Times New Roman';
    color: red;
}
#bodyListeMachines {
    background-image: url(ImagesLogiciel/BackgroundListeMachine.jpg);
    background-attachment: fixed;
}
#bodyListeProduits {
    background-color: black;
    background-attachment: fixed;
}
#labelTitreMachine {
    color: white;
    font-family: 'Times New Roman';
    font-size:40px;
}
#labelEntretiensMachine, #labelEntretiensRecents, #labelProduitsMachine, #labelRemarquesMachine, #labelProceduresMachine {
    color: red;
    font-size: 35px;
    text-decoration: none;
    padding-left:0px;
}
#rowOptions{
    padding-top: 50px;
}
#bodyDossierMachine {
    background-image: url(ImagesLogiciel/BackgroundDossierMachine.jpg);
    background-attachment: fixed;
}
#labelTitreEntretiensMachine {
    margin-top: 50px;
    color: white;
    font-family: 'Times New Roman';
    font-size: 40px;
}
#bodyEntretiensMachine {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(ImagesLogiciel/BackgroundEntretienMachine.png);
    background-attachment: fixed;
}
#labeltextBoxDescriptionEntretien, #labelTextBoxReccurence, #labelDateProchainEntretien1, #labelTitreNomEntretien {
    color: white;
    font-size: 30px;
    font-weight:bold;
}
#labelDateProchainEntretien {
    color: white;
    font-size: 25px;
}
#bodyEntretienSelectionne {
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(ImagesLogiciel/BackgroundEntretienMachineSelectionne.png);
    background-attachment: fixed;
}
#labelTitreListeProduitsEntretien {
    color: white;
    font-size: 35px;
}
#bodyProduitSelectionne {
    background-image: url(ImagesLogiciel/BackgroundProduitSelectionne.jpg);
    background-attachment: fixed;
}
#labelTitreNomProduit, #labeltextBoxDescriptionProduit, #labelTypeProduit, #h1TitreProduits {
    color: darkgoldenrod;
    font-size: 30px;
}
#labelPhotosProduit {
    color: darkgoldenrod;
    font-size: 30px;
    margin-top: 25px;
}
#textBoxReccurence {
    font-size: 25px;
}
#labelTitreAjouterEntretien, #labelTypeEntretien, #labelDateEntretien, #labeltextBoxDescriptionAjouterEntretien, #labelResponsableEntretien, #labelRecurrenceEntretien, #labelDateProchainEntretien, #labelDateProchainEntretien1 {
    font-size: 30px;
    color: white;
}
#buttonAjouterEntretien, #buttonAjouterRemarqueEntretien, #buttonAssocierProcedureTelecharger, #buttonAssocierProduit {
    font-size: 25px;
}
#bodyEntretienPrecedantAjout {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(ImagesLogiciel/BackgroundAjouterEntretienPrecedant.png);
    background-attachment: fixed;
}
#h2TitreEntretienSelectionne {
    color:white;
    font-weight:bold;
}
#h1TitreProcedures {
    padding-top:0px;
    text-align:center;
    color:red;
}
#buttonDeconnexionNavbar {
    margin-right:20px;
}
#bodyProcedures {
    background: linear-gradient(rgba(0,0,255,.4), rgba(0,0,0,.4)), url(ImagesLogiciel/BackgroundProcedures.png);
    background-attachment: fixed;
}
#bodyProcedureMachine {
    background: linear-gradient(rgba(0,0,255,.4), rgba(0,0,0,.4)), url(ImagesLogiciel/BackgroundProceduresDossierMachine.jpg);
    background-attachment: fixed;
}
#bodyListeRemarqueMachine {
    background-image: url(ImagesLogiciel/BackgroundListeRemarquesMachine1.png);
    background-attachment:fixed;
}
#buttonAssocierProcedureTelecharger {
    margin-top: 20px;
}
#labelRechercherParTypeEntretien {
    font-size:20px;
}
#bodyAjouterRemarqueEntretien {
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)), url(ImagesLogiciel/BackgroundAjouterRemarqueEntretien.jpg);
    color: white;
    font-weight: bold;
    background-attachment: fixed;
}
#h1AjouterRemarque {
    text-align: center;
    color:white;
}
.rowRemarque {
    font-size: 20px;
    margin-top:10px;
    margin-bottom:20px;
}
#buttonAjouterRemarque {
    margin-top:200px;
    font-size:25px;
}
#imgProduitSelectionne {
    margin-top: 300px;
}
#labelTitreListeRemarque {
    font-size:35px;
}
#labelDateFait, #labeltextBoxDescriptionEntretienMachine, #labelNomEmploye, #labelEmploye, #labelTitreRemarque {
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#labelTitrePhotos {
    text-align:center;
}
#labelTitreDescriptionRemarque, #labeltextBoxDescriptionRemarque, #labelTitrePhotos {
    font-size:25px;
}
#textBoxDescriptionRemarque {
    height:90px;
}
#divDropDownListImprimerEntretien {
    padding-top: 100px;
    font-size: 27px;
}
#bodyImprimerEntretiensProchainsJours {
    background-image: url(ImagesLogiciel/BackgroundImprimerEntretiensProchainsJours.jpg);
    background-attachment:fixed;
}
#buttonGenererLaliste {
    margin-top: 100px;
    font-size: 27px;
}
#h1TitreImprimerEntretiens {
    padding-top: 150px;
    font-size: 27px;
}
#bodyPageAdministrateur {
    background-image: url(ImagesLogiciel/BackgroundPageAdministrateur.jpg);
    color: white;
    background-attachment: fixed;
}
#labelNomUtilisateurConnecte {
    font-family:'Times New Roman'
}
#formulaire {
    margin-top:210px;
}
#bodyAjouterUtilisateur {
    background-image: url(ImagesLogiciel/BackgroundAjouterUtilisateur.jpg);
    background-attachment: fixed;
}
#titreAjouterUtilisateur {
    margin-top:50px;
    color:white;
}
#labelCheckboxAdministrateur {
    color:red;
}
#labelNom, #labelPrenom, #labelMotDePasse {
    color:dimgrey;
}
#textBoxRechercherMachine, #dropDownListTypesElement {
    margin-top: 20px;
}
#buttonAjouterElement {
    font-size: 20px;
    margin-top:20px;
}
#gridViewListeProduits  {
    color:darkgoldenrod
}
#gridViewMachines {
    margin-right:50px;
    border-radius:5px;
    margin-top:20px;
}
#textBoxRechercherProduit {
    margin-left:50px;
}
#gridViewProduits {
    background-color: white;
    margin-top: 50px;
    padding-right: 100px;
}
#divInfosTypesMachine {
    font-size:25px;
    color:white;
}
#divLeftDossierMachine {
    height:500px;
}
#labelTitreNumeroSerieMachine, #labelTitreAnneeMachine {
    color:white;
    font-size:30px;
}
#labelTypeElement, #labelTypeEmplacement {
    color: blue;
    font-size: 30px;
}
#divDossierMachine {
   margin-top : 75px;
}
#GridViewListeProduitsEntretien {
    background-color: white;
    margin-top:100px;
}
#GridViewProduitsEntretien {
    background-color: white;
}
#gridViewEntretiensMachine {
    background-color:white;
    margin-top:50px;
}
#textBoxRechercherRemarque {
    margin-top:20px;
}
#gridViewRemarques {
    background-color: white;
    margin-top: 50px;
}
#gridViewListeUtilisateurs {
    background-color:darkblue;
}
#panelDateProchainEntretien {
    background-color:dimgray;
}
#buttonOk, #buttonCancel{
    margin:20px;
    font-size:20px;
}
#calendarDate {
    margin-bottom:20px;
}
#test {
    position:absolute;
    z-index:1;
}
#divChangerDateEntretien {
   margin-top:20px;
}
#bodyAjouterElement {
    background-image: url(ImagesLogiciel/BackgroundAjouterElement2.jpg);
    background-attachment: fixed;
}
#titreAjouterElement, #statusLabel, #titreAjouterElement {
    color: white;
}
#labelNomMachine, #labelNumero, #labelDescription, #labelTypeElement, #labelTypeEmplacement, #fileUpload, #labelProchaineDate, #labelRecurrence, #labelDescriptionEntretien, #labelNomEntretien, #labelNumeroSerieMachine, #labelAnneeMachine {
    color: white;
    font-size: 30px;
}
#labelNumeroMachine {
    color: white;
    font-size: 30px;
}
#typeMachine, #nomMachine {
    margin-top: 50px;
}
#buttonEnregistrer {
    font-size:25px;
    margin-top:25px;
}
#h2AjouterPhotoMachine {
    color:white;
    margin-top:25px;
}
#buttonAjouterUtilisateur {
    font-size:25px;
}
#labelDateProchainEntretien {
    color: black;
    font-size: 20px;
}
#backgroundAjouterEntretien {
    background-image: url(ImagesLogiciel/BackgroundAjouterEntretien.jpg);
    background-attachment: fixed;
}
#footerAccueilConnexion {
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 250px;
    padding: 1rem;
    color:white;
    text-align: center;
}
#footerConception {
    position:page;
    right: 0;
    bottom: 0;
    left: 0;
    margin-top: 50px;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
#nomEntretien {
    margin-top:165px;
}
#backgroundAjouterProcedure {
    background-image: url(ImagesLogiciel/BackgroundAjouterProcedure.png);
    background-attachment: fixed;
}
#textBoxRecurrence, #textBoxDateProchainEntretien {
    margin-top: 45px;
}
#fileUploadProcedure {
    margin-top: 20px;
    font-size: 20px;
    color: red;
}
#labelNomProcedure {
    margin-top:100px;
    color: red;
    font-size: 20px;
}
#labelDescription{
    color: red;
    font-size: 20px;
}
#titreAjouterProcedure {
    color: red;
    font-size: 35px;
}
#buttonAjouterUnCommentaire {
    font-size:25px;
    margin-top:15px;
}
#divAjouterCommentaire {
    margin-top:30px;
}
#textBoxAjouterCommentaire {
    height:100px;
}
#backgroundCentreDeControl {
    background-image:url(ImagesLogiciel/BackgroundCentreDeControl3.JPG);
    background-attachment:fixed;
}
#bodyAjouterProduit {
    background-image: url(ImagesLogiciel/BackgroundAjouterProduit2.jpg);
    background-attachment: fixed;
}
#labelTypeDeProduit, #nomProduit, #descriptionProduit, #fileUploadPhotoProduit, #h2AjouterPhotoProduit, #titreAjouterProduit, #labelEntretiens {
    color: blue;
    font-size: 30px;
    margin-top: 30px;
}
#dropDownListTypeProduit {
    margin-top: 30px;
}
#buttonAjouterProduit, #buttonCommander {
    font-size: 25px;
}
#labelDescriptionElement1 {
    color:white;
    font-size:30px;
}
#buttonAjouterUsager {
    font-size:20px;
    margin-bottom:20px;
}
#buttonAjouterRemarqueSansEntretien {
    font-size:20px;
    top: 0px;
    left: 0px;
}
#FileUploadImages {
    font-size:30px;
}
#labelDescriptionRemarque1 {
    color:white;
}
#textBoxNouveauMotDePasse, #buttonOk, #buttonCancel, #buttonModifierCode, #buttonEnregistrer {
    color: black;
    top: 0px;
    left: 0px;
}
.checkRemarque{
    color:white;
}
#backgroundMessageTransition {
    background-image:url(ImagesLogiciel/Nuit.jpg);
    background-attachment:fixed;
    color:white;
}
#textBoxAjouterMessage {
    height: 100px;
}
#buttonAjouterUnMessage{
    height:40px;
    font-size:18px;
}
#DropDownListEntretiensOuRemarques{
    margin-top:10px;
}
#imprimerCommandes{
    margin-top:20px;
    font-size:35px;
}
#backgroundCommande{
    background-image:url(ImagesLogiciel/chaines.jpg)
}
#imprimerCommandes {
    color:white;
    background-attachment:fixed;
}
